<VirtualHost *:80>

    DocumentRoot <%= @doc_root %>

    <IfModule mod_rewrite.c>
      RewriteEngine on
      RewriteRule "^/([^/]+)/files/(.*)$" "/$1/sites/default/files/$2" [L]
    </IfModule>

    <Directory <%= @doc_root %>>
      Options FollowSymLinks
      AllowOverride all
      Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
